/* Bunch of Lunch Munches
SoftDev pd8
////2023
P04 - */

#top {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    text-align: center;
}

h2 {
    padding: 2%;
}

#map {
    height: 400px;
    width: 400px;
  }

#buttonSave {
    width: 100%;
}

#divSave, #divBack {
    padding: 2%;
}

/* #button1 {
    background-color: red;
} */


