/* Bunch of Lunch Munches
SoftDev pd8
////2023
P04 - */

#top {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    text-align: center;
}

h2 {
    padding: 2%;
}

#map {
    height: 400px;
    width: 400px;
  }

#buttonSave {
    width: 100%;
}

#divSave, #divBack {
    padding: 2%;
}

.dropdown-menu {
    /* width: 100%;
    height: 500%; */
}

#filterDropdowns {
    padding:2%;
    margin-left:auto;
    margin-right:auto;
}

#filter {
    margin-left:auto;
    margin-right:auto;
}

/* #button1 {
    background-color: red;
} */


